/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


/* Default CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --first-bg : #111b21;
    --second-bg : #202c33e5;
    --seen-message: #51B8E5;
}

/* General CSS */

body {
    max-width: 1320px;
    height: 100vh;
    margin: auto;
    /* background-color: #c6c8c9; */
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: #fdfdfd;
}

/* Pre-Built CSS */
.cursor-pointer {
    cursor: pointer !important;
}

.seen-message {
    color: var(--seen-message);
}

/* Combine CSS */
.user-img-div img {
    width: 3rem;
    height: 3rem;
}

.chat-search-box>.form-control,
.right-side-end>.form-control {
    height: 2rem;
    border: none;
    box-shadow: none;
    background: var(--second-bg) !important;
    color: #fdfdfd;
}

.user-chats::-webkit-scrollbar, .right-side-middle::-webkit-scrollbar {
    width: 0.5rem;

}

.user-chats::-webkit-scrollbar-track, .right-side-middle::-webkit-scrollbar-track {
    background: #202c33;
    border-radius: 1rem;
}

.user-chats::-webkit-scrollbar-thumb, .right-side-middle::-webkit-scrollbar-thumb {
    background-color: rgb(168, 166, 166);
    border-radius: 1rem;
    border: 2px solid #202c33;
}

/* Left-Side CSS */
.left-side {
    
}

.left-side-top, .right-side-top, .right-side-end {
    background: var(--second-bg) !important;
}

.chat-search-box {
    color: #fdfdfd !important;
    background: var(--second-bg) !important;
}



.user-chats{
    max-height: calc(100vh - 128px);
    overflow-y: scroll;
    padding-top: 6rem !important;
}





.single-chat:hover
 {
    background: var(--second-bg);
}
/* Right-Side CSS */
.right-side-middle{
    background-image: linear-gradient(to top, rgba(32, 44, 51, 0.75), rgba(32, 44, 51, 0.6)), url("assets/img/wapp-bg.png");
    background-position: center;
    background-size: cover;
    min-height: calc(100vh - 128px);
    overflow-y: scroll;
    top: 4rem;
}


/* User Messages CSS */

.left-chats-container .chat-message div {
    width: 0 !important;
    height: 0 !important;
    border-right: 1.5rem solid #212529;
    border-left: 1.5rem solid transparent;
    border-top: 1.5rem solid #212529;
    border-radius: 0.2rem;
    left: -0.75rem;
}

.right-chats-container{
    padding-top: 6rem !important;
}

.right-chats-container .chat-message div {
    width: 0 !important;
    height: 0 !important;
    border-right: 1.5rem solid transparent;
    border-left: 1.5rem solid #198754;
    border-top: 1.5rem solid #198754;
    border-radius: 0.2rem;
    right: -0.75rem;
}

.group-message{
    margin-top: -2.25rem;
}

/* 
    ========= 
            MEDIA QUERIES For All Devices
                                        =========

*/

@media only screen and (max-width: 600px) {
    
}